/* Canvas graph */
#all-graphs {
  text-align: left;
  max-width: 1480px;
  background-color: black;
}

#all-graphs .one-graph {
  position: relative;
  left: 0px;
  height: calc( 100vh / 3 );
}

#all-graphs .one-graph .canvas {
  background: black;
  position: absolute;
  z-index: 1;
}

#all-graphs .one-graph .canvas_pointer {
  background: transparent;
  position: absolute;
  z-index: 2;
}

.pointerOn {
  cursor: crosshair;
}

.pointerOnGrab {
  cursor: pointer;
}