.nav_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;

    & > * {
        margin: 0;
        height: 60px;
        padding: 5px;
    }
}

.logo {
    line-height: 1.15;
    font-size: 2.5rem;
    color: red;

    span {
        color: #0070f3;
    }
}

.nav {
  ul {
      height: 100%;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
      flex-wrap: wrap;
      
      li {
        text-transform: capitalize;
        padding-top: 5px;
      }

      li a {
        margin: 5px 15px;
        color:grey;
        text-decoration: none;
        font-size: 17px;

        &:hover {
          color: #000;
        }
  
      }
    }   
}

.aboutLi{
  &:hover {
    border-top: 2px solid rgba(255, 0, 0, 0.3);
  }
}